__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/

.git/
.vscode/
.idea/

db.sqlite3
media/
staticfiles/

*.log
.env

terraform/

.pytest_cache/
.coverage
htmlcov/

.DS_Store
Thumbs.db
docker-compose.override.yml
