{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow border-0">

        <div class="card-header bg-warning">

            <h3 class="mb-0">

                <i class="bi bi-pencil-square"></i>

                Modifier un utilisateur

            </h3>

        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6">

                        {{ user_form.as_p }}

                    </div>

                    <div class="col-md-6">

                        {{ profile_form.as_p }}

                    </div>

                </div>

                <div class="text-end">

                    <a href="{% url 'accounts:users_list' %}"
                       class="btn btn-secondary">

                        Retour

                    </a>

                    <button class="btn btn-warning">

                        Mettre à jour

                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}