{% extends "base.html" %}

{% block title %}
Gestion des actifs
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'dashboard:index' %}"><i class="bi bi-house-door-fill me-1"></i>Accueil</a>
</li>

<li class="breadcrumb-item active">
    Ressources
</li>
{% endblock %}
{% block content %}


<div class="container-fluid mt-4">

    <div class="row mb-4">

        <div class="col-md-6">

            <h2 class="fw-bold">
                <i class="bi bi-hdd-network"></i>
                Gestion des actifs
            </h2>

            <p class="text-muted">
                Liste des actifs informatiques de l'ONDA
            </p>

        </div>

        <div class="col-md-6 text-end">
            {% if perms.assets.add_asset %}
            <a href="{% url 'assets:asset_create' %}" class="btn btn-primary">
                <i class="bi bi-plus-circle me-1"></i>
                Nouvel actif
            </a>
            {% endif %}

 

        </div>

    </div>


    {% if messages %}

        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show">

            {{ message }}

            <button
                class="btn-close"
                data-bs-dismiss="alert">
            </button>

        </div>

        {% endfor %}

    {% endif %}


    <div class="card shadow-lg border-0">

        <div class="card-body">

            <table class="table table-hover table-striped align-middle datatable">

                <thead class="table-dark">

                    <tr>

                        <th>Code</th>

                        <th>Nom</th>

                        <th>Catégorie</th>

                        <th>Responsable</th>

                        <th>Localisation</th>

                        <th>Criticité</th>

                        <th>Statut</th>

                        <th width="180">
                            Actions
                        </th>

                    </tr>

                </thead>

                <tbody>

                    {% for asset in assets %}

                    <tr>

                        <td>

                            <strong>

                                {{ asset.asset_code }}

                            </strong>

                        </td>

                        <td>

                            {{ asset.name }}

                        </td>

                        <td>

                            {{ asset.category }}

                        </td>

                        <td>

                            {{ asset.owner }}

                        </td>

                        <td>

                            {{ asset.location }}

                        </td>

                        <td>

                            {% if asset.criticality == "LOW" %}

                                <span class="badge bg-success">

                                    Faible

                                </span>

                            {% elif asset.criticality == "MEDIUM" %}

                                <span class="badge bg-warning text-dark">

                                    Moyenne

                                </span>

                            {% elif asset.criticality == "HIGH" %}

                                <span class="badge bg-danger">

                                    Elevée

                                </span>

                            {% else %}

                                <span class="badge bg-dark">

                                    Critique

                                </span>

                            {% endif %}

                        </td>

                        <td>

                            {% if asset.status == "ACTIVE" %}

                                <span class="badge bg-success">

                                    Actif

                                </span>

                            {% elif asset.status == "MAINTENANCE" %}

                                <span class="badge bg-warning text-dark">

                                    Maintenance

                                </span>

                            {% else %}

                                <span class="badge bg-secondary">

                                    Retiré

                                </span>

                            {% endif %}

                        </td>

                        <td>

                           {% if perms.assets.view_asset %}
                         <a href="{% url 'assets:asset_detail' asset.id %}"
                             class="btn btn-info btn-sm">
                                        Voir
                         </a>
                            {% endif %}   

                          {% if perms.assets.change_asset %}
                         <a href="{% url 'assets:asset_update' asset.id %}"
                             class="btn btn-warning btn-sm">
                                      Modifier
                         </a>
                           {% endif %}

                           {% if perms.assets.delete_asset %}
                         <a href="{% url 'assets:asset_delete' asset.id %}"
                             class="btn btn-danger btn-sm">
                                     Supprimer
                         </a>
                           {% endif %}
                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td
                        colspan="8"
                        class="text-center">

                            Aucun actif enregistré.

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}
